<div>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Kính gởi: Anh/Chị </font>
        </font>
        <font face="Times New Roman,serif">
            <font size="3"><b>{0}</b>,</font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Hệ thống chấm công ghi nhận Anh/Chị có: </font>
        </font>
    </p>
    <ul>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#C45911">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{1}</b></font>
                    </font>
                </font>
                <font face="Times New Roman,serif">
                    <font size="3"></font>
                </font>
                <font color="#C45911">
                    <font face="Times New Roman,serif">
                        <font size="3">yêu cầu phê duyệt </font>
                    </font>
                </font>
                <font color="#C45911">
                    <font face="Times New Roman,serif">
                        <font size="3"><b>TIMESHEET</b>.</font>
                    </font>
                </font>
            </p>
        </li>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#2E74B5">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{2}</b></font>
                    </font>
                </font>
                <font face="Times New Roman,serif">
                    <font size="3"></font>
                </font>
                <font color="#2E74B5">
                    <font face="Times New Roman,serif">
                        <font size="3">yêu cầu phê duyệt </font>
                    </font>
                </font>
                <font color="#2E74B5">
                    <font face="Times New Roman,serif">
                        <font size="3"><b>TĂNG CA</b>.</font>
                    </font>
                </font>
            </p>
        </li>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#538135">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{3}</b></font>
                    </font>
                </font>
                <font face="Times New Roman,serif">
                    <font size="3"></font>
                </font>
                <font color="#538135">
                    <font face="Times New Roman,serif">
                        <font size="3">yêu cầu phê duyệt </font>
                    </font>
                </font>
                <font color="#538135">
                    <font face="Times New Roman,serif">
                        <font size="3"><b>PHỤ CẤP</b>.</font>
                    </font>
                </font>
            </p>
        </li>
    </ul>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Link phê duyệt: 
                <a href="http://portal.esuhai.local/timesheet/xetduyet"
                   target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" data-safelink="true"
                   data-linkindex="0">http://portal.esuhai.local/timesheet/xetduyet
                </a>
            </font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Anh/Chị lưu ý phê duyệt đúng thời hạn để đảm bảo quyền lợi cho các thành viên Phòng/Ban.
            </font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Mọi thắc mắc, Anh/Chị vui lòng liên hệ Ban Nhân sự để được hỗ trợ. </font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3">Trân trọng./ </font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font color="#0070C0">
            <font face="Times New Roman,serif"><i>* Đây là email tự động từ hệ thống. Vui lòng không reply email
                    này. </i></font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font color="#0070C0">
            <font face="Times New Roman,serif">
                <font style="font-size:10pt;">
                    <i>---------------------------------------------------------------------------------------------------</i>
                </font>
            </font>
        </font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Times New Roman,serif">
            <font size="3"><span lang="vi-VN"><b>{4}</b> </span></font>
        </font>
        <font face="Times New Roman,serif">
            <font size="3"><span lang="vi-VN"></span></font>
        </font>
        <font face="Arial"><span lang="ja-JP">
                <font size="3">さん</font>
            </span></font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Arial"><span lang="ja-JP">
                <font size="3">勤怠管理システムには現在下記のリクエストが あります。 </font>
            </span></font>
    </p>
    <ul>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#C45911">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{5}</b></font>
                    </font>
                </font>
                <font face="Arial"><span lang="ja-JP">
                        <font color="#C45911">
                            <font size="3">件の</font>
                        </font>
                        <font color="#C45911">
                            <font size="4"><b>タイムシート</b></font>
                        </font>
                        <font color="#C45911">
                            <font size="3">承認リクエスト</font>
                        </font>
                    </span></font>
            </p>
        </li>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#2E74B5">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{6}</b></font>
                    </font>
                </font>
                <font face="Arial"><span lang="ja-JP">
                        <font color="#2E74B5">
                            <font size="3">件の</font>
                        </font>
                        <font color="#2E74B5">
                            <font size="4"><b>時間外勤</b></font>
                        </font>
                        <font color="#2E74B5">
                            <font size="3">務承認リクエスト</font>
                        </font>
                    </span></font>
            </p>
        </li>
        <li>
            <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
                <font color="#538135">
                    <font face="Times New Roman,serif">
                        <font size="4"><b>{7}</b></font>
                    </font>
                </font>
                <font face="Arial"><span lang="ja-JP">
                        <font color="#538135">
                            <font size="3">件の</font>
                        </font>
                        <font color="#538135">
                            <font size="4"><b>手当</b></font>
                        </font>
                        <font color="#538135">
                            <font size="3">承認リクエスト</font>
                        </font>
                    </span></font>
            </p>
        </li>
    </ul>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Arial"><span lang="ja-JP">
                <font size="3">承認</font>
            </span></font>
        <font color="black">
            <font face="MS Gothic,serif">:</font>
        </font>
        <font color="black"> <span lang="vi-VN"></span></font><a
            href="http://portal.esuhai.local/timesheet/xetduyet" target="_blank"
            rel="noopener noreferrer" data-auth="NotApplicable" data-safelink="true" data-linkindex="1">
            <font face="Times New Roman,serif">
                <font size="3">
                    http://portal.esuhai.local/timesheet/xetduyet
                </font>
            </font>
        </a>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Arial"><span lang="ja-JP">
                <font size="3">部署のメンバーが会社から待遇を受けられるよう承認期間内に承認するようにお願いします。（承認期間内はメンバーがリクエストを登録した日から、</font>
            </span></font>
        <font face="Times New Roman,serif">
            <font size="3">1</font>
        </font>
        <font face="Arial"><span lang="ja-JP">
                <font size="3">週間以内です。）</font>
            </span></font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Arial"><span lang="ja-JP">
                <font size="3">ご不明な点がございましたら、人事部にご連絡してください。</font>
            </span></font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font face="Arial"><span lang="ja-JP">
                <font size="3">どうぞよろしくお願い致します。</font>
            </span></font>
    </p>
    <p style="margin-top:0;margin-bottom:7.92pt;line-height:115%;">
        <font color="#0070C0">
            <font face="Times New Roman,serif"><i>*</i></font>
            <font face="Arial"> <span lang="ja-JP"><i>これはシステムからの自動メールです。 このメールには返信しないでください。 </i></span></font>
        </font>
    </p>
</div>