<div style="width:400px; margin: 0 auto; border-radius: 5px; border:1px solid rgb(179, 172, 172);">
    <div style="background-color: rgba(22, 5, 1, 0.7);text-align: center;padding:3px; color:white">
        <h2>Thanh toán thất bại</h2>
    </div>
    <div style="background-color:whitesmoke; padding:5px;">
        <p>Mã đơn hàng: {{_orderFailure.id}}</p>
        <p>Deal_ID: {{_orderFailure.mrc_order_id.split('_')[0]}}</p>
        <p>Trạng thái đơn hàng:
            {{_orderFailure.stat == 'c' ? 'Hoàn tất' : _orderFailure.stat == 'p' ? 'Đang thanh toán' : 'Thất bại'}}</p>
    </div>
</div>

<div style="margin: 0 auto; width:max-content">
    <button routerLink=""
        style="padding: 10px; background-color: rgba(1, 4, 26, 0.4); cursor: pointer; border: 1px solid whitesmoke; border-radius: 5px; margin-top: 10px; font-size: 13px; color:white">
        Back to Home
    </button>
</div>